FINLIFE_API_KEY=your_finlife_api_key_here
FINLIFE_TOP_FIN_GRP_NO=020000
FINLIFE_PAGE_NO=1
FINLIFE_CACHE_DIR=.cache/finlife
ECOS_API_KEY=your_ecos_api_key_here
ECOS_LANGUAGE=kr
ECOS_START=1
ECOS_END=100
ECOS_CACHE_DIR=.cache/ecos
ALPHAVANTAGE_API_KEY=your_alphavantage_api_key_here
ALPHAVANTAGE_CACHE_DIR=.cache/alphavantage
ALPHAVANTAGE_OUTPUTSIZE=compact
FDN_MOCK_SPENDING_DB=src/data/mock_spending.sqlite
